* { margin:0; padding:0; border:0; font-size:100% }
ol, ul { list-style:none }

a { text-decoration:none; color:#111; }

body {
  line-height:1; font:normal 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#111; background:#fff;
}
body > * { font-size:1.4em; }

.when, a.register, #rightcol p, .leftcol p, .rightcol > a, #subheader {
  font-family:Georgia, "Times New Roman", Times, serif; font-style:italic;
}
#nav > div, h1, #map + #content > div, #subheader + #content, #footer p, #subheader p { margin:0 auto; width:820px; }

#nav {
  background:url("img/nav_grad.png") #333;
  height:50px; border-bottom:1px solid #6f6d6d;
}
#nav ol, #nav li a { border-width:0 1px; border-style:solid; border-color:#444; }
#nav ol { float:left; overflow:hidden; }
#nav li { float:left; border-right:1px solid #000; }
#nav li:first-child { border-left:1px solid #000; }
#nav li a { display:inline-block; padding:1.2em 1.3em; color:#f3f3f3; }
#nav li a:hover, #nav li a:active { color:#36b0e7; background:url("img/nav_hover_grad.png") #444; }

#nav form { text-align:right; padding:12px; }
#nav input { font-family:inherit; }
#nav input[type="text"] {
  background: url("img/search_grad.gif") repeat-x scroll 0 0 #5e5e5e;
  color:#bcbcbc; border:1px solid #000;
  padding:2px 5px; width:160px; height:20px;
}
#nav input[type="submit"] { background:transparent; color:#36b0e7; padding:0 .2em; }

h1 { clear:left; height:94px; font-size:3em; line-height:3em; padding-left:1.3em; }
h1 a { outline:0 none; }
#subheader {
  height:80px; margin-bottom:2.5em;
  background-image:url("img/sub_bgr.gif");
}
#subheader p {
  color:#333; padding:1.82em 1.3em 0 0;
  font-size: 28px; text-align: right;
}

#map {
  border-bottom:5px solid #f3f3f3; margin-bottom:1px;
  background: url("img/map_bgr.png") repeat-x scroll 0 0 #fff;
  height:455px;
}
#map img { display:block; margin:0 auto; width:804px; }
#map + #content {
  background: url("img/content_border_grad.png") no-repeat scroll 0 0 #fff;
  padding-top:2.5em; width:903px; margin:0 auto;
}

#map + #content > div { margin-bottom:3em; overflow:hidden; }
#content { padding-left:3em; }
#leftcol, .leftcol { width:400px; float:left; margin-right:80px; }
#rightcol, .rightcol { width:300px; overflow:hidden; }
#rightcol, .courses { margin-right:2.8em; }

#leftcol li { padding-bottom:.8em; margin-bottom:2em; border-bottom:1px solid #dbdbdb; }
h2 { font-size:1.43em; margin-bottom:1em; }
.where { color:#757575; font-weight:bold; margin:.4em 0 1.2em; }
.when, #rightcol p, .leftcol p { color:#8f8f8f; }
.when { float:left; margin-top:4px; }
#leftcol .when { width:260px; }
.rightcol .when { width:140px; }
a.register {
  background: url("img/triangle.gif") no-repeat scroll 123px 9px #42B5E8;
  font-weight:bold; color:#f3f3f3;
  text-align:center; display:inline-block; width:130px; padding: 3px 7px 3px 3px;
  border-radius:4px;
}
a.register:hover { background: url("img/triangle_hover.gif") no-repeat scroll 123px 9px #2572b9; }
#rightcol li {
/*  border-top:1px solid #dbdbdb;*/
  margin-bottom:2.4em; padding-top:2em;
  background: url("img/border_grad.png") no-repeat scroll -5px 0 #fff; 
}
#rightcol li:first-child { /*border-top:0 none;*/ padding-top:0; background-image:none; }
#rightcol p { line-height:1.4; }

.courses { margin-bottom:4em; }
.courses > li { border-top:1px solid #dbdbdb; padding-top:1.5em; margin-bottom: 3em; }
h3 a { border-bottom:1px solid #999; line-height:1; }
h3 a:hover { color:#35a7d9; border-bottom:0 none; }
.leftcol p { font-size:16px; padding: 1.2em 0 0 1.2em; line-height:1.4; }
.rightcol { width:280px; }
.rightcol li { border-bottom:1px solid #dbdbdb; padding:.85em 0; }
.rightcol > a { color:#327abd; display: block; margin-top: 0.9em; }

#footer {
  background:#262626; color:#5B595A; font-size:12px; line-height:5;
  border-color:#000; border-style: solid; border-width:5px 0 110px; height:90px;
  clear:left;
}
#footer p { padding-left:3.6em; }